<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Chronos admin</title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">

    <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>

    <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách phiếu mua hàng</h4>
                    <h6>Quản lí phiếu mua hàng</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{/templates/page/admin/addcoupon}" class="btn btn-added">
                        <img th:src="@{/assets/admin/img/icons/plus.svg}" alt="img" class="me-2" />
                        Thêm phiếu mua hàng
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img th:src="@{/assets/admin/img/icons/filter.svg}" alt="img" />
                                    <span
                                    ><img th:src="@{/assets/admin/img/icons/closes.svg}" alt="img"
                                    /></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"
                                ><img th:src="@{/assets/admin/img/icons/search-white.svg}" alt="img"
                                /></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="pdf"
                                    ><img th:src="@{/assets/admin/img/icons/pdf.svg}" alt="img"
                                    /></a>
                                </li>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="excel"
                                    ><img th:src="@{/assets/admin/img/icons/excel.svg}" alt="img"
                                    /></a>
                                </li>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="print"
                                    ><img th:src="@{/assets/admin/img/icons/printer.svg}" alt="img"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all" />
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Tên phiếu mua hàng</th>
                                <th>Giảm giá</th>
                                <th>Ngày tạo</th>
                                <th>Ngày hết khuyến mãi</th>
                                <th>Đối tượng khuyễn mãi</th>

                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox" />
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <td class="">

                                    <a href="javascript:void(0);">Cháy hàng 5/5</a>
                                </td>
                                <td>20%</td>
                                <td>2022-5-5</td>
                                <td><span class="badges bg-lightgreen">20220-6-5</span></td>

                                <td>Tất cả mọi người</td>
                                <td>
                                    <a class="me-3" th:href="@{/templates/page/admin/editquotation}">
                                        <img th:src="@{/assets/admin/img/icons/edit.svg}" alt="img" />
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img th:src="@{/assets/admin/img/icons/delete.svg}" alt="img" />
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
</body>
</html>
