<!DOCTYPE html>
<html lang="vi" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Chronos admin</title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>

<div class="main-wrapper">
    <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>

    <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>

    <div class="page-wrapper">
        <div class="content">
            <div class="toastify" data-duration="5000ms" th:if="${show}" th:attr="data-type=${type},data-show=${show},data-text=${message}"></div>
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách ảnh sản phẩm</h4>
                    <h6>Quản lí hình ảnh sản phẩm của bạn</h6>
                </div>
                <div class="page-btn">
<!--                    <a th:href="@{/admin/product-variant/add}" class="btn btn-added"-->
<!--                    ><img-->
<!--                            th:src="@{/assets/admin/img/icons/plus.svg}"-->
<!--                            alt="img"-->
<!--                            class="me-1"-->
<!--                    />Thêm ảnh sản phẩm mới</a-->
<!--                    >-->
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img th:src="@{/assets/admin/img/icons/filter.svg}" alt="img" />
                                    <span
                                    ><img th:src="@{/assets/admin/img/icons/closes.svg}" alt="img"
                                    /></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"
                                ><img th:src="@{/assets/admin/img/icons/search-white.svg}" alt="img"
                                /></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="pdf"
                                    ><img th:src="@{/assets/admin/img/icons/pdf.svg}" alt="img"
                                    /></a>
                                </li>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="excel"
                                    ><img th:src="@{/assets/admin/img/icons/excel.svg}" alt="img"
                                    /></a>
                                </li>
                                <li>
                                    <a
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="print"
                                    ><img th:src="@{/assets/admin/img/icons/printer.svg}" alt="img"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table datanew">
                            <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Ảnh 1</th>
                                <th>Lựa chọn</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item:${imageSku}">
                                <td th:text="${item.getProductSku()}"></td>
                                <td  >
                                    <a class="me-3" th:href="@{'/admin/image/add/'+${item.getProductSku()}}">
                                        <div th:if="${(item.getImage1()== null) or ((#strings.startsWith(item.getImage1(), 'http')) ?: false)}">
                                            <img width="50px" height="50px" th:src="@{${item.getImage1()}}" alt="img" />
                                        </div>
                                        <div th:unless="${(item.getImage1()== null) or ((#strings.startsWith(item.getImage1(), 'http')) ?: false)}">
                                            <img width="50px" height="50px" th:src="@{'/api/v1/fileUpLoad/files/'+${item.getImage1()}}">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a class="me-3" th:href="@{'/admin/product-variant/edit/'+${item.getProductSku()}}">
                                        <img th:src="@{/assets/admin/img/icons/edit.svg}" alt="img" />
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
<script>
    document.querySelectorAll('.btn-delete-product').forEach(item => {
        item.onclick = (e) => {
            e.preventDefault();
            Swal.fire({
                title: 'Bạn có chắc muốn xóa sản phẩm này?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa sản phẩm',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = item.href;
                }
            })
        }
    })
</script>
</body>
</html>
