<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Chronos admin</title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
</head>

<body>
<div id="global-loader">
    <div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">

    <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>

    <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>

    <div class="page-wrapper">
        <div class="content">
            <div class="toastify" data-duration="5000ms" th:if="${show}" th:attr="data-type=${type},data-show=${show},data-text=${message}"></div>
            <div class="page-header">
                <div class="page-title">
                    <h4>Danh sách người dùng</h4>
                    <h6>Quản lý người dùng</h6>
                </div>
                <div class="page-btn">
                    <a th:href="@{/admin/users/add}" class="btn btn-added">
                        <img th:src="@{/assets/admin/img/icons/plus.svg}" alt="img">
                        Thêm người dùng
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-top">
                        <div class="search-set">
                            <div class="search-path">
                                <a class="btn btn-filter" id="filter_search">
                                    <img th:src="@{/assets/admin/img/icons/filter.svg}" alt="img">
                                    <span><img th:src="@{/assets/admin/img/icons/closes.svg}" alt="img"></span>
                                </a>
                            </div>
                            <div class="search-input">
                                <a class="btn btn-searchset"><img th:src="@{/assets/admin/img/icons/search-white.svg}"
                                                                  alt="img"></a>
                            </div>
                        </div>
                        <div class="wordset">
                            <ul>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                            th:src="@{/assets/admin/img/icons/pdf.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                            th:src="@{/assets/admin/img/icons/excel.svg}" alt="img"></a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                            th:src="@{/assets/admin/img/icons/printer.svg}" alt="img"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table  datanew">
                            <thead>
                            <tr>
                                <th>Tên người dùng</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Ảnh</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Ngày cuối đăng nhập</th>
                                <th>Trạng thái</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="user: ${listUser}">
                                <tr th:if="${user.deleted  == false}">
                                    <td th:text="${user.fullname}">
                                    <td th:text="${user.email}">
                                    <td th:text="${user.phone}">
                                    <td th:text="${user.gender} == true ? 'Nam' : 'Nữ'"></td>
                                    <td th:text="${#dates.format(user.birthday, 'dd-MM-yyyy')}">
                                    <td>
                                        <img th:src="@{|${user.image}|}"/>
                                    </td>
                                    <td th:text="${#temporals.format(user.createdDate,'dd-MM-yyyy HH:mm:ss')}">
                                    <td th:text="${#temporals.format(user.updatedDate,'dd-MM-yyyy HH:mm:ss')}">
                                    <td th:text="${#temporals.format(user.lastLogin,'dd-MM-yyyy HH:mm:ss')}">
                                    <td>
                                            <span class="bg-lightgreen badges"
                                                  th:class="${user.status} == 'Hoạt động' ? 'bg-lightgreen badges' : 'bg-lightred badges'"
                                                  th:text="${user.status} == 'Hoạt động' ? 'Hoạt động' : 'Bị khóa'"
                                            >
                                            </span>
                                    </td>
                                    <td>
                                        <a class="me-3"
                                           th:href="@{|/admin/users/edit/${user.userId}|}"
                                        >
                                            <img th:src="@{/assets/admin/img/icons/edit.svg}" alt="img">
                                        </a>
                                        <a class="btn-delete-product me-3 confirm-text"
                                           th:href="@{|/admin/users/delete/${user.userId}|}">
                                            <img th:src="@{/assets/admin/img/icons/delete.svg}" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            </div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
<script>
    document.querySelectorAll('.btn-delete-product').forEach(item => {
        item.onclick = (e) => {
            e.preventDefault();
            Swal.fire({
                title: 'Bạn có chắc muốn xóa sản phẩm này?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Xóa sản phẩm',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = item.href;
                }
            })
        }
    })
</script>
</body>

</html>