<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Chronos admin</title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>

        <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>


        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="page-title">
                        <h4>Thêm Coupon</h4>
                        <h6>Tạo Coupon mới</h6>
                    </div>
                </div>

                <div class="card">
                    <form class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Coupon ID</label>
                                    <input type="text" th:name="couponId">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Tên coupon</label>
                                    <input type="text" th:name="couponName">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Discount</label>
                                    <input type="text" th:name="discount">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Discount For</label>
                                    <input type="text" th:name="discountFor">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Ngày bắt đầu khuyến mãi</label>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Ngày kết thúc khuyến mãi</label>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" href="javascript:void(0);"
                                    class="btn btn-submit me-2">Submit</button>
                                <a th:href="@{/admin/productlist}" class="btn btn-cancel">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
    </div>
</body>

</html>