<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>-->
<!--    <meta name="description" content="POS - Bootstrap Admin Template"/>-->
<!--    <meta name="keywords"-->
<!--          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive"/>-->
<!--    <meta name="author" content="Dreamguys - Bootstrap Admin Template"/>-->
<!--    <meta name="robots" content="noindex, nofollow"/>-->
<!--    <title>Bảng thống kê</title>-->
<!--    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/admin/img/favicon.png}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/bootstrap-datetimepicker.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/animate.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/bootstrap-datetimepicker.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/plugins/select2/css/select2.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/dataTables.bootstrap4.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/plugins/fontawesome/css/fontawesome.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/plugins/fontawesome/css/all.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/assets/admin/css/style.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<div id="global-loader">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="whirly-loader"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="main-wrapper">-->
<!--    <th:block th:replace="~{component/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>-->
<!--    <div class="page-wrapper">-->
<!--        <div class="content">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-sm-6 col-12">-->
<!--                    <div class="dash-widget dash1">-->
<!--                        <div class="dash-widgetimg">-->
<!--                  <span>-->
<!--                    <img th:src="@{/assets/admin/img/icons/dash2.svg}" alt="img"/>-->
<!--                  </span>-->
<!--                        </div>-->
<!--                        <div class="dash-widgetcontent">-->
<!--                            <h5>₫ <span class="counters"></span>-->
<!--                            </h5>-->
<!--                            <h6>Tổng giá trị hoá đơn</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6 col-12">-->
<!--                    <div class="dash-widget">-->
<!--                        <div class="dash-widgetimg">-->
<!--                  <span>-->
<!--                    <img th:src="@{/assets/admin/img/icons/dash1.svg}" alt="img"/>-->
<!--                  </span>-->
<!--                        </div>-->
<!--                        <div class="dash-widgetcontent">-->
<!--                            <h5>₫ <span class="counters"></span>-->
<!--                            </h5>-->
<!--                            <h6>Số lượng sản phẩm đã bán</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-6 col-12">-->
<!--                    <div class="dash-widget dash2">-->
<!--                        <div class="dash-widgetimg">-->
<!--                  <span>-->
<!--                    <img th:src="@{/assets/admin/img/icons/dash3.svg}" alt="img"/>-->
<!--                  </span>-->
<!--                        </div>-->
<!--                        <div class="dash-widgetcontent">-->
<!--                            <h5>₫ <span class="counters"></span>-->
<!--                            </h5>-->
<!--                            <h6>Hàng còn trong kho</h6>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-sm-6 col-12 d-flex">-->
<!--                    <div class="dash-count">-->
<!--                        <div class="dash-counts">-->
<!--                            <h4></h4>-->
<!--                            <h5>Khách hàng</h5>-->
<!--                        </div>-->
<!--                        <div class="dash-imgs">-->
<!--                            <i data-feather="user">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"-->
<!--                                     stroke-linejoin="round" class="feather feather-user">-->
<!--                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>-->
<!--                                    <circle cx="12" cy="7" r="4"></circle>-->
<!--                                </svg>-->
<!--                            </i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-sm-6 col-12 d-flex">-->
<!--                    <div class="dash-count das3">-->
<!--                        <div class="dash-counts">-->
<!--                            <h4></h4>-->
<!--                            <h5>Số lượng hoá đơn</h5>-->
<!--                        </div>-->
<!--                        <div class="dash-imgs">-->
<!--                            <i data-feather="file">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"-->
<!--                                     stroke-linejoin="round" class="feather feather-file">-->
<!--                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>-->
<!--                                    <polyline points="13 2 13 9 20 9"></polyline>-->
<!--                                </svg>-->
<!--                            </i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-lg-7 col-sm-12 col-12 d-flex">-->
<!--                    <div class="card flex-fill">-->
<!--                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">-->
<!--                            <h5 class="card-title mb-0">Purchase & Sales</h5>-->
<!--                            <div class="graph-sets">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        <span>Sales</span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <span>Purchase</span>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <div class="dropdown">-->
<!--                                    <button class="btn btn-white btn-sm dropdown-toggle" type="button"-->
<!--                                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                                        2022 <img th:src="@{/assets/admin/img/icons/dropdown.svg}" alt="img"-->
<!--                                                  class="ms-2"/>-->
<!--                                    </button>-->
<!--                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                                        <li>-->
<!--                                            <a href="javascript:void(0);" class="dropdown-item">2022</a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="javascript:void(0);" class="dropdown-item">2021</a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="javascript:void(0);" class="dropdown-item">2020</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div id="sales_charts"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-5 col-sm-12 col-12 d-flex">-->
<!--                    <div class="card flex-fill">-->
<!--                        <div class="card-header pb-0 d-flex justify-content-between align-items-center">-->
<!--                            <h4 class="card-title mb-0">Sản phẩm được thêm gần đây</h4>-->
<!--                            &lt;!&ndash;                            <div class="dropdown">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false"&ndash;&gt;-->
<!--                            &lt;!&ndash;                                   class="dropset">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <i class="fa fa-ellipsis-v"></i>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <a href="productlist.html" class="dropdown-item">Product List</a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                        <a href="addproduct.html" class="dropdown-item">Product Add</a>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="table-responsive dataview">-->
<!--                                <table class="table datatable">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Sno</th>-->
<!--                                        <th>Sản phẩm</th>-->
<!--                                        <th>Giá</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <th:block th:each="product : ${listProduct}">-->
<!--                                        <tr>-->
<!--                                            <td>1</td>-->
<!--                                            <td class="productimgname">-->
<!--                                                <a class="product-img">-->
<!--                                                    <img th:if="${product.getProductVariants() != null}"-->
<!--                                                         th:src="${product.getProductVariants().get(0).getImage1()}"-->
<!--                                                         alt="product" style="object-fit: cover"/>-->
<!--                                                </a>-->
<!--                                                <a href="#" th:text="${product.getProductName()}"></a>-->
<!--                                            </td>-->
<!--                                            <td th:text="${#numbers.formatDecimal(product.getPriceNew(), 0, 'COMMA', 0, 'POINT')}"></td>-->
<!--                                        </tr>-->
<!--                                    </th:block>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script th:src="@{/assets/admin/js/jquery-3.6.0.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/feather.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/jquery.slimscroll.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/jquery.dataTables.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/dataTables.bootstrap4.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/bootstrap.bundle.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/plugins/apexchart/apexcharts.min.js}"></script>-->
<!--<script th:src="@{/assets/admin/plugins/apexchart/chart-data.js}"></script>-->
<!--<script th:src="@{/assets/admin/js/script.js}"></script>-->
<!--</body>-->
<!--</html>-->