<!-- Tài khoản của tôi, <Username> -->
<div class="" th:fragment="accountDetail">
  <p class="mb-2 flex w-full items-center justify-between px-10 py-2 text-xl font-medium">
    <span class="text-primary">Thông tin cá nhân</span>
    <a href="" class="bg-primary rounded-lg px-5 py-1.5 text-center text-white transition-all hover:bg-yellow-500">Sửa thông tin</a>
  </p>
  <div class="grid grid-cols-2 border-t border-gray-300 px-10 py-8 text-sm font-medium">
    <span class="">Họ và tên: Nguyễn Trọng Nghĩa</span>
    <span class="">Địa chỉ email: nghia14802@gmail.com</span>
  </div>
</div>
<!-- end Tài khoản của tôi, <Username> -->