<!-- Sản phẩm yêu thích -->
<div class="" th:fragment="favorite">
    <p class="mb-5 flex w-full items-center justify-between border-b border-gray-200 px-10 py-2 text-xl font-medium">
        <span class="text-primary">Sản phẩm yêu thích</span>
        <span class="text-gray-400">1 sản phẩm</span>
    </p>
    <div class="flex flex-col gap-5 px-10">
        <div class="relative flex gap-5 rounded-md text-sm">
            <a class="h- block w-[150px]">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full rounded-t-md object-cover" />
            </a>
            <div class="">
                <h4 class="block"><a href="" class="mb-3 block truncate">Quần Jeans Nữ Baggy Co Giãn Cạp Liền</a></h4>
                <div class="mb-3 flex items-center gap-3">
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                </div>
                <div class="flex items-center gap-3">
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">29</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">30</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">31</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">32</a>
                </div>
            </div>
            <div class="flex w-fit items-center gap-5 self-start ml-auto text-xl font-medium">
                <a href="" class="text-primary block bg-yellow-100 px-5 py-1.5 text-center rounded-md">Xóa</a>
                <a href="" class="text-white block bg-primary px-5 py-1.5 text-center rounded-md">Thêm vào giỏ hàng</a>
            </div>
        </div>
        <div class="relative flex gap-5 rounded-md text-sm">
            <a class="h- block w-[150px]">
                <img src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full rounded-t-md object-cover" />
            </a>
            <div class="">
                <h4 class="block"><a href="" class="mb-3 block truncate">Quần Jeans Nữ Baggy Co Giãn Cạp Liền</a></h4>
                <div class="mb-3 flex items-center gap-3">
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                    <a href="" class="hover:border-primary h-6 w-6 overflow-hidden rounded-full border border-gray-300">
                        <img src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/qjn3076-dni-1.jpg?v=1673334276577" alt="" class="h-full w-full object-cover" />
                    </a>
                </div>
                <div class="flex items-center gap-3">
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">29</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">30</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">31</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-slate-800 px-2 py-1 text-xs">32</a>
                </div>
            </div>
            <div class="flex w-fit items-center gap-5 self-start ml-auto text-xl font-medium">
                <a href="" class="text-primary block bg-yellow-100 px-5 py-1.5 text-center rounded-md">Xóa</a>
                <a href="" class="text-white block bg-primary px-5 py-1.5 text-center rounded-md">Thêm vào giỏ hàng</a>
            </div>
        </div>
    </div>
</div>
<!-- End sản phẩm yêu thích -->