<!-- Đổi mật khẩu -->
<div class="" th:fragment="forgotPassword">
  <p class="mb-3 flex w-full items-center justify-between border-b border-gray-200 px-10 py-3 font-medium">
    <span class="text-primary">Đổi mật khẩu <span class="text-sm text-gray-400">(Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác)</span></span>
  </p>
  <div class="">
    <form action="" class="flex flex-col gap-5 px-10">
      <div class="flex flex-col gap-2">
        <label for="currentPassword" class="text-sm">Mật khẩu hiện tại *</label>
        <div class="">
          <input type="text" name="" id="currentPassword" class="focus:border-primary mr-5 w-full max-w-[600px] rounded-lg border-2 border-gray-300 px-4 py-1.5 outline-none" />
          <a href="" class="hover:text-primary text-base font-medium text-gray-500">Quên mật khẩu?</a>
        </div>
      </div>
      <div class="flex max-w-[600px] flex-col gap-2">
        <label for="newPassword" class="text-sm">Mật khẩu mới *</label>
        <input type="text" name="" id="newPassword" class="focus:border-primary w-full rounded-lg border-2 border-gray-300 px-4 py-1.5 outline-none" />
      </div>
      <div class="flex max-w-[600px] flex-col gap-2">
        <label for="confirmPassword" class="text-sm">Xác nhận mật khẩu mới *</label>
        <input type="text" name="" id="confirmPassword" class="focus:border-primary w-full rounded-lg border-2 border-gray-300 px-4 py-1.5 outline-none" />
      </div>
      <div class="flex max-w-[600px] items-center justify-end gap-3">
        <button class="text-primary rounded-lg bg-amber-100 px-10 py-2 text-center font-medium">Hủy</button>
        <button class="rounded-lg bg-yellow-300 px-10 py-2 text-center font-medium text-white">Lưu</button>
      </div>
    </form>
  </div>
</div>
<!-- end Đổi mật khẩu -->