<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${coupon.couponId == null} ? 'Thêm mã giảm giá' : 'Chỉnh sửa mã giảm giá'"></title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
    <link rel="stylesheet" th:href="@{/assets/admin/css/DateTimePicker.css}">
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>
<div class="main-wrapper">
    <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>
    <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>
    <div class="page-wrapper">
        <div class="toastify" data-duration="5000ms" th:if="${show}"
             th:attr="data-type=${type},data-show=${show},data-text=${message}"></div>
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4 th:text="${coupon.couponId == null} ? 'Thêm mã giảm giá' : 'Chỉnh sửa mã giảm giá'"></h4>
                </div>
            </div>
            <div class="card">
                <form class="card-body" action="/admin/coupon/save" method="post" th:object="${coupon}" id="couponForm">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Coupon ID</label>
                                <input type="text" th:field="*{couponId}" th:disabled="${coupon.getCouponId() != null}">
                                <input type="hidden" th:disabled="${coupon.getCouponId() == null}"
                                       th:field="*{couponId}">
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Chi tiết mã giảm giá</label>
                                <input type="text" th:field="*{couponName}">
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Đối tượng giảm giá</label>
                                <select class="form-select" th:field="*{discountFor}">
                                    <option value="Hoá đơn">Hoá đơn</option>
                                    <option value="Sản phẩm">Sản phẩm</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Giảm giá</label>
                                <input type="text" th:field="*{discount}">
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Giá trị đơn hàng hoặc mã sản phẩm</label>
                                <input type="text" th:field="*{pidOrOrder}">
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Ngày bắt đầu khuyến mãi</label>
                                <input type="text" data-field="datetime" th:name="createTime" id="createTime"
                                       th:value="${#temporals.format(coupon.getCreateTime(), 'dd-MM-yyyy HH:mm:ss')}"
                                       class="form-control" readonly/>
                                <div id="dtBox"></div>
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Ngày kết thúc khuyến mãi</label>
                                <input type="text" data-field="datetime" th:name="expiresTime" id="expiresTime"
                                       th:value="${#temporals.format(coupon.getExpiresTime(), 'dd-MM-yyyy HH:mm:ss')}"
                                       class="form-control" readonly/>
                                <span class="text-red-500 message" style="color: #dc3545;"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a th:href="@{/admin/coupon}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
<script th:src="@{/assets/admin/js/DateTimePicker.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dtBox').DateTimePicker({
            setButtonContent: 'Chọn',
            clearButtonContent: 'Xoá',
            dateTimeFormat: 'dd-MM-yyyy HH:mm:ss',
        });
    });
</script>
<script>
    const isValidRequired = (element, message) => {
        const parentElement = element.parentElement
        if (element.value.trim() === "") {
            parentElement.querySelector(".message").innerText = message
            return false;
        } else {
            parentElement.querySelector(".message").innerText = ""
            return true;
        }
    }

    const couponForm = document.getElementById("couponForm");
    const couponId = document.getElementById("couponId");
    const couponName = document.getElementById("couponName");
    const discount = document.getElementById("discount");
    const pidOrOrder = document.getElementById("pidOrOrder");
    const createTime = document.getElementById("createTime");
    const expiresTime = document.getElementById("expiresTime");

    couponForm.onsubmit = (e) => {
        const isValidCouponId = isValidRequired(couponId, "Vui lòng nhập mã giảm giá")
        const isValidCouponName = isValidRequired(couponName, "Vui lòng nhập chi tiết giảm giá")
        const isValidDiscount = isValidRequired(discount, "Vui lòng nhập giảm giá(ví dụ: 20kVND hoặc 10%)")
        const isValidPidOrOrder = isValidRequired(pidOrOrder, "Vui lòng nhập giá trị đơn hàng hoặc mã sản phẩm(ví dụ: 300kVND hoặc mã sản phẩm: 100001")
        const isValidCreateTime = isValidRequired(createTime, "Vui lòng nhập thời gian bắt đầu giảm giá")
        const isValidExpiresTime = isValidRequired(expiresTime, "Vui lòng nhập thời gian kết thúc giảm giá")
        if (isValidCouponId && isValidCouponName && isValidDiscount && isValidPidOrOrder && isValidCreateTime && isValidExpiresTime) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>