<div th:fragment="content" class="mx-auto h-full w-full bg-[url('https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/bg_login.jpg?1684745686241')] bg-cover bg-no-repeat  bg-bottom py-20 shadow-md">
  <div class="mx-auto container">
    <div class="mx-auto mb-10 flex w-full max-w-[600px] flex-col items-center justify-center rounded-md border border-gray-300 bg-white px-10 py-10">
      <form th:action="@{/forgot-password}" method="post"
            class="flex w-full flex-col items-center justify-center" id="loginForm">
        <h3 class="mb-5 flex items-center gap-2 text-center text-2xl font-medium uppercase">
          <span class="text-primary">Quên mật khẩu</span>
        </h3>
        <p class="w-3/4 mb-7 text-center text-sm font-light">Nếu bạn quên mật khẩu, vui lòng nhập địa chỉ email đã đăng ký của bạn. Chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu.</p>
        <div class="mb-5 flex w-3/4 flex-col items-stretch gap-1">
          <input type="email" name="mail" id="mail" class="rounded-md border border-gray-300 px-4 py-2.5 outline-none focus:border-gray-400" placeholder="Email" />
        </div>
        <div class="flex gap-3 w-3/4">
          <a href="/account/login" class="flex-1 rounded-lg  px-5 bg-secondary py-2.5 text-center text-xl font-semibold text-primary hover:bg-primary hover:text-white">Hủy</a>
          <button type="submit" class="flex-1 rounded-lg px-5 bg-primary py-2.5 text-center text-xl font-semibold text-white">Tiếp tục</button>
        </div>
      </form>
    </div>
  </div>
</div>