<div class="splide xl:w-[500px] w-full mx-auto" th:fragment="slide(image)">
  <div class="w-full splide__track">
    <ul class="splide__list">
        <li class="splide__slide"
            th:if="${image.image1} != null">
          <img

                  class="w-full h-full object-cover"
                  th:src="@{${image.image1}}"
                  alt="" />
        </li>
      <li class="splide__slide"
          th:if="${image.image2} != null">
        <img
                class="w-full h-full object-cover"
                th:src="@{${image.image2}}"
                alt="" />
      </li>
      <li class="splide__slide"
          th:if="${image.image3} != null">
        <img
                class="w-full h-full object-cover"
                th:src="@{${image.image3}}"
                alt="" />
      </li>
      <li class="splide__slide"
          th:if="${image.image4} != null">
        <img
                class="w-full h-full object-cover"
                th:src="@{${image.image4}}"
                alt="" />
      </li>
      <li class="splide__slide"
          th:if="${image.image5} != null">
        <img
                class="w-full h-full object-cover"
                th:src="@{${image.image5}}"
                alt="" />
      </li>
      <li class="splide__slide"
          th:if="${image.image6} != null">
        <img
                class="w-full h-full object-cover"
                th:src="@{${image.image6}}"
                alt="" />
      </li>
    </ul>
  </div>
  <div class="flex gap-5 custom-pagination mt-5">
    <label
            th:if="${image.image1} != null"
            data-splide-page="0"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md"
    >
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image1}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            th:if="${image.image2} != null"
            data-splide-page="1"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md"
    >
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image2}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            th:if="${image.image3} != null"
            data-splide-page="2"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image3}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            th:if="${image.image4} != null"
            data-splide-page="3"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image4}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>

    <label
            th:if="${image.image5} != null"
            data-splide-page="4"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image5}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>

    <label
            th:if="${image.image6} != null"
            data-splide-page="5"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="subSlide" class="peer hidden" />
      <img
              th:src="${image.image6}"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
  </div>
</div>