<div class="splide xl:w-[500px] w-full mx-auto" th:fragment="slide">
  <div class="w-full splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img
                class="w-full h-full object-cover"
                src="https://bizweb.dktcdn.net/100/438/408/products/tsm6165-den-qsm6029-ghi-10-ao-thun-nam-yody.jpg?v=1684378031187"
                alt="" />
      </li>
      <li class="splide__slide">
        <img
                class="w-full h-full object-cover"
                src="https://bizweb.dktcdn.net/100/438/408/products/tsm6165-den-qsm6029-ghi-10-ao-thun-nam-yody.jpg?v=1684378031187"
                alt="" />
      </li>
      <li class="splide__slide">
        <img
                class="w-full h-full object-cover"
                src="https://bizweb.dktcdn.net/100/438/408/products/tsm6165-den-qsm6029-ghi-10-ao-thun-nam-yody.jpg?v=1684378031187"
                alt="" />
      </li>
      <li class="splide__slide">
        <img
                class="w-full h-full object-cover"
                src="https://bizweb.dktcdn.net/100/438/408/products/tsm6165-den-qsm6029-ghi-10-ao-thun-nam-yody.jpg?v=1684378031187"
                alt="" />
      </li>
    </ul>
  </div>
  <div class="flex gap-5 custom-pagination mt-5">
    <label
            data-splide-page="0"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="abcd" class="peer hidden" />
      <img
              src="https://bizweb.dktcdn.net/100/438/408/products/apm5329-xmn-7.jpg?v=1675313492517"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            data-splide-page="1"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="abcd" class="peer hidden" />
      <img
              src="https://bizweb.dktcdn.net/100/438/408/products/apm5329-xmn-7.jpg?v=1675313492517"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            data-splide-page="2"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="abcd" class="peer hidden" />
      <img
              src="https://bizweb.dktcdn.net/100/438/408/products/apm5329-xmn-7.jpg?v=1675313492517"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
    <label
            data-splide-page="3"
            class="cursor-pointer lg:h-[80px] lg:w-[80px] md:h-[80px] md:w-[80px] h-[40px] w-[40px] rounded-md">
      <input type="radio" name="abcd" class="peer hidden" />
      <img
              src="https://bizweb.dktcdn.net/100/438/408/products/apm5329-xmn-7.jpg?v=1675313492517"
              class="transition-all peer-checked:border-primary hover:border-primary h-full w-full rounded-md object-cover hover:border-[2px] hover:p-[2px] peer-checked:border-[2px] peer-checked:p-[2px]"
              alt="" />
    </label>
  </div>
</div>