<!DOCTYPE html>
<html lang="en">
<head th:replace="~{component/html-head :: headTitle('Trang chủ')}"></head>
<body>
<header th:replace="~{component/header :: header(${femaleCategories}, ${maleCategories}, ${kidCategories})}"></header>


<!--    Slider  -->
<div class="container">
    <div class="splide w-full mx-auto slide-home-page">
        <div class="w-full splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img
                            class="w-full h-full object-cover"
                            src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/slider_1.jpg?1685095474730"
                            alt="" />
                </li>
                <li class="splide__slide">
                    <img
                            class="w-full h-full object-cover"
                            src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/slider_1.jpg?1685095474730"
                            alt="" />
                </li>
                <li class="splide__slide">
                    <img
                            class="w-full h-full object-cover"
                            src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/slider_1.jpg?1685095474730"
                            alt="" />
                </li>
            </ul>
        </div>
    </div>
</div>
        <!--    Banner  -->
        <div class="container">
            <div class="bg-no-repeat bg-contain h-[300px] bg-[url('https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/banner-home-khuyen-mai.png?1684398883028')]"></div>
        </div>


        <!--    Collection  -->
        <div class="container">
            <div class="w-full relative after:content-[''] after:absolute after:w-full after:bottom-0 after:left-0 after:right-0 after:h-1 after:bg-primary after:rounded-md after:mt-2 ">
                <h2 class="font-bold uppercase">Bộ sưu tập</h2>
                <div class="mt-3 flex items-center">
                    <div class="w-full">
                        <img
                                alt=""
                                src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_bst_3_image.jpg?1684399184335"
                        />
                    </div>
                    <div class="w-full">
                        <img
                                alt=""
                                src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_bst_1_image.jpg?1684399184335"
                        />
                    </div>
                    <div class="w-full">
                        <img
                                alt=""
                                src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_bst_3_image.jpg?1684399184335"
                        />
                    </div>
                </div>
            </div>
        </div>

        <!--    Collection Link  -->

        <div class="container mt-5">
            <div class="flex items-center justify-center gap-10">
                <div class="px-4 py-1.5 border-2 border-transparent border-b-primary w-full max-w-[150px] text-center cursor-pointer active hover:text-primary">
                    <h5 class="text-center font-medium text-lg text-primary">Nữ</h5>
                </div>
                <div class="px-4 py-1.5 border-2 border-transparent border-b-primary w-full max-w-[150px] text-center cursor-pointer hover:text-primary">
                    <h5 class="text-center font-medium text-lg">Nam</h5>
                </div>
                <div class="px-4 py-1.5 border-2 border-transparent border-b-primary w-full max-w-[150px] text-center cursor-pointer hover:text-primary">
                    <h5 class="text-center font-medium text-lg">Trẻ em</h5>
                </div>
            </div>

            <div class="flex items-center flex-nowrap overflow-auto mt-5">
                <div class="flex flex-col items-center justify-center w-fit px-10 py-1.5">
                    <div class="w-[90px] h-[90px] rounded-full">
                        <img alt=""
                             class="h-full w-full" src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_danhmuc_1_child_3_image.png?1684488034940"/>
                    </div>
                    <h2 class="mt-5 text-center font-medium">Áo Polo</h2>
                </div>

                <div class="flex flex-col items-center justify-center w-fit px-10 py-1.5">
                    <div class="w-[90px] h-[90px] rounded-full">
                        <img alt=""
                             class="h-full w-full" src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_danhmuc_1_child_3_image.png?1684488034940"/>
                    </div>
                    <h2 class="mt-5 text-center font-medium">Áo Polo</h2>
                </div>
                <div class="flex flex-col items-center justify-center w-fit px-10 py-1.5">
                    <div class="w-[90px] h-[90px] rounded-full">
                        <img alt=""
                             class="h-full w-full" src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_danhmuc_1_child_3_image.png?1684488034940"/>
                    </div>
                    <h2 class="mt-5 text-center font-medium">Áo Polo</h2>
                </div>
            </div>

        </div>


        <!--    List Product With Content   -->
<div class="container mb-[100px] mt-5 grid h-[550px] grid-cols-5 gap-x-5 gap-y-3">
    <h3 class="col-span-5">Best</h3>
    <div class="h-full">
        <img alt="" class="h-[500px] w-full rounded-md object-cover" src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_preivew_sanpham_3_image_desktop.jpg?1684399184335" />
    </div>
    <div class="col-span-4">
        <div class="grid h-[500px] grid-cols-2 items-stretch gap-4 overflow-auto sm:grid-flow-col sm:grid-cols-none">
            <div class="group relative col-span-1 flex h-full w-full flex-col overflow-hidden rounded-md border border-gray-200 shadow-sm sm:w-[255px]">
                <div class="card__top">
                    <img alt="" class="h-[350px] w-full object-cover" src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
                </div>
                <div class="card__body mt-2 p-3">
                    <h3 class="card__title from-neutral-600">Dép Trẻ em chống trơn trượt</h3>
                    <p class="mt-2 font-medium">139000đ</p>
                    <div class="mt-3 flex items-center gap-3">
            <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                    </div>
                </div>
                <div class="absolute top-0 w-fit rounded-r-md bg-[rgba(0,0,0,0.3)] px-3 py-1">
                    <span class="text-sm font-medium text-white">Đã bán 7</span>
                </div>
                <div class="bg-primary absolute right-2 top-0 rounded-b-md px-3 py-1">
                    <span class="text-sm font-medium text-white">Mới</span>
                </div>
                <div class="bg-primary group-hover:animate-swipeUp invisible absolute left-1/2 top-[50%] w-fit -translate-x-1/2 cursor-pointer rounded-md px-3 py-1.5 font-medium text-white opacity-0 group-hover:visible group-hover:opacity-100">
                    <span>Đặt hàng</span>
                </div>
            </div>
            <div class="group relative col-span-1 flex h-full w-full flex-col overflow-hidden rounded-md border border-gray-200 shadow-sm sm:w-[255px]">
                <div class="card__top">
                    <img alt="" class="h-[350px] w-full object-cover" src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
                </div>
                <div class="card__body mt-2 p-3">
                    <h3 class="card__title from-neutral-600">Dép Trẻ em chống trơn trượt</h3>
                    <p class="mt-2 font-medium">139000đ</p>
                    <div class="mt-3 flex items-center gap-3">
            <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                    </div>
                </div>
                <div class="absolute top-0 w-fit rounded-r-md bg-[rgba(0,0,0,0.3)] px-3 py-1">
                    <span class="text-sm font-medium text-white">Đã bán 7</span>
                </div>
                <div class="bg-primary absolute right-2 top-0 rounded-b-md px-3 py-1">
                    <span class="text-sm font-medium text-white">Mới</span>
                </div>
                <div class="bg-primary group-hover:animate-swipeUp invisible absolute left-1/2 top-[50%] w-fit -translate-x-1/2 cursor-pointer rounded-md px-3 py-1.5 font-medium text-white opacity-0 group-hover:visible group-hover:opacity-100">
                    <span>Đặt hàng</span>
                </div>
            </div>
            <div class="group relative col-span-1 flex h-full w-full flex-col overflow-hidden rounded-md border border-gray-200 shadow-sm sm:w-[255px]">
                <div class="card__top">
                    <img alt="" class="h-[350px] w-full object-cover" src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
                </div>
                <div class="card__body mt-2 p-3">
                    <h3 class="card__title from-neutral-600">Dép Trẻ em chống trơn trượt</h3>
                    <p class="mt-2 font-medium">139000đ</p>
                    <div class="mt-3 flex items-center gap-3">
            <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                    </div>
                </div>
                <div class="absolute top-0 w-fit rounded-r-md bg-[rgba(0,0,0,0.3)] px-3 py-1">
                    <span class="text-sm font-medium text-white">Đã bán 7</span>
                </div>
                <div class="bg-primary absolute right-2 top-0 rounded-b-md px-3 py-1">
                    <span class="text-sm font-medium text-white">Mới</span>
                </div>
                <div class="bg-primary group-hover:animate-swipeUp invisible absolute left-1/2 top-[50%] w-fit -translate-x-1/2 cursor-pointer rounded-md px-3 py-1.5 font-medium text-white opacity-0 group-hover:visible group-hover:opacity-100">
                    <span>Đặt hàng</span>
                </div>
            </div>
            <div class="group relative col-span-1 flex h-full w-full flex-col overflow-hidden rounded-md border border-gray-200 shadow-sm sm:w-[255px]">
                <div class="card__top">
                    <img alt="" class="h-[350px] w-full object-cover" src="https://bizweb.dktcdn.net/thumb/large/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
                </div>
                <div class="card__body mt-2 p-3">
                    <h3 class="card__title from-neutral-600">Dép Trẻ em chống trơn trượt</h3>
                    <p class="mt-2 font-medium">139000đ</p>
                    <div class="mt-3 flex items-center gap-3">
            <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                        <span class="h-8 w-8">
              <img alt="" class="h-full w-full rounded-full object-cover" src="https://bizweb.dktcdn.net/thumb/thumb/100/438/408/products/phu-kien-tre-em-khac-dek5003-tra-1-yodyvn.jpg?v=1684211011000" />
            </span>
                    </div>
                </div>
                <div class="absolute top-0 w-fit rounded-r-md bg-[rgba(0,0,0,0.3)] px-3 py-1">
                    <span class="text-sm font-medium text-white">Đã bán 7</span>
                </div>
                <div class="bg-primary absolute right-2 top-0 rounded-b-md px-3 py-1">
                    <span class="text-sm font-medium text-white">Mới</span>
                </div>
                <div class="bg-primary group-hover:animate-swipeUp invisible absolute left-1/2 top-[50%] w-fit -translate-x-1/2 cursor-pointer rounded-md px-3 py-1.5 font-medium text-white opacity-0 group-hover:visible group-hover:opacity-100">
                    <span>Đặt hàng</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-[100px] mt-5 grid h-[550px] grid-cols-5 gap-x-5 gap-y-3">
    <h3 class="col-span-5">Test</h3>
    <div class="h-full">
        <img alt="" class="h-[500px] w-full rounded-md object-cover" src="https://bizweb.dktcdn.net/100/438/408/themes/904142/assets/home_preivew_sanpham_3_image_desktop.jpg?1684399184335" />
    </div>
    <div class="col-span-4" th:if="${productList != null && !productList.isEmpty()}">
        <div class="grid h-[500px] grid-cols-2 items-stretch gap-4 overflow-auto sm:grid-flow-col sm:grid-cols-none">
            <div th:each="product : ${productList}" th:insert="/component/card/card :: card(product)"> </div>

        </div>
    </div>
</div>


<footer th:replace="~{component/footer :: footer}"></footer>

        <script th:src="@{/assets/users/js/header.js}"></script>
        <script th:src="@{/assets/users/js/homePage.js}" type="text/javascript"></script>
</body>
</html>