<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{component/html-head :: headTitle('Tạo mật khẩu mới', ~{})}"></head>
<body>
<header th:replace="~{component/header :: header(${femaleCategories}, ${maleCategories}, ${kidCategories})}"></header>
<div th:replace="~{component/reset-password-content :: content(${passwordDto},${tokenKey},${tokenValue},${message})}"></div>
<footer th:replace="~{component/footer :: footer}"></footer>
<script th:src="@{/assets/user/js/header.js}" type="text/javascript"></script>
<script th:src="@{/assets/user/js/loginPage.js}" type="text/javascript"></script>
</body>
</html>