<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <title>Chỉnh sửa danh mục phụ</title>
    <div th:replace="~{component/admin/link/linkAndscript :: head}"></div>
</head>
<body>
<div id="global-loader">
    <div class="whirly-loader"></div>
</div>
<div class="main-wrapper">
    <th:block th:replace="~{component/admin/header/headerAdmin :: header}"></th:block>

    <th:block th:replace="~{component/admin/sidebar/SideBarAdmin :: sliderbarAdmin}"></th:block>
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Chỉnh sửa danh mục phụ</h4>
                </div>
            </div>
            <div class="card">
                <form action="/admin/subcategory/save" method="post" class="card-body" th:object="${category}">
                    <input type="hidden" th:field="*{categoryId}">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-12">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                <input th:field="*{categoryName}" class="" type="text">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12">
                            <div class="form-group">
                                <label>Đường dẫn URL</label>
                                <input th:field="*{categoryUrl}" type="text">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12">
                            <div class="form-group">
                                <label>Thuộc danh mục</label>
                                <select class="form-select" th:field="*{categoryParent}">
                                    <option th:each="categoryItem : ${listCategoryParent}"
                                            th:value="${categoryItem.getCategoryId()}"
                                            th:text="${categoryItem.getCategoryName()}"
                                            th:selected="${categoryItem.getCategoryId() == category.getCategoryId()}"/>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a th:href="@{/templates/page/admin/subcategory}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/admin/link/linkAndscript :: script}"></div>
</body>
</html>